.kanban-board {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px; 
    margin: 0 auto; 
    overflow-x: auto;
}

.kanban-column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e5a5a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    min-width: 250px;
    min-height: 300px;
    position: relative;
}

.kanban-column h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
}

.kanban-task {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
    width: 100%; 
    min-height: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kanban-task h3 {
    margin: 0;
    font-size: 15px; 
    color: #000000;
}

.kanban-task p {
    margin: 3px 0 0; 
    font-size: 12px;
    color: #000000;
}

.kanban-task.dragging {
    background-color: #d0d0d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-task-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: linear-gradient(to bottom, #932B2B, #3D2244, #000000);
    font-size: 24px;
}
.add-task-icon:hover {
    color: #ff0000;
    transform: scale(1.5);
}

.column-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.icon-delete {
    cursor: pointer;
    color: red;
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 150px;
}

@media (max-width: 768px) {
    .kanban-column {
        width: 90%;
        margin: 10px auto;
    }
    
    .kanban-task {
        padding: 8px;
    }
    
    .kanban-task h4 {
        font-size: 14px;
    }
    
    .kanban-task p {
        font-size: 12px;
    }
    
    .kanban-task .task-actions {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .kanban-column {
        width: 100%;
        margin: 5px 0;
    }

    .kanban-task {
        padding: 5px;
    }

    .kanban-task h4 {
        font-size: 12px;
    }

    .kanban-task p {
        font-size: 10px;
    }
}